<?xml version="1.0"?>
<!-- 
    Note: As an alternative to hand editing this file you can use the 
    web admin tool to configure settings for your application. Use
    the Website->Asp.Net Configuration option in Visual Studio.
    A full list of settings and comments can be found in 
    machine.config.comments usually located in 
    \Windows\Microsoft.Net\Framework\v2.x\Config 
-->
<configuration>
  <configSections>
    <section name="SubSonicService" type="SubSonic.SubSonicSection, SubSonic" />
    <section name="infragistics.web" type="System.Configuration.SingleTagSectionHandler,System, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
  </configSections>
  <infragistics.web styleSetName="Default" styleSetPath="~/ig_res" />
  <appSettings>
    <add key="ConnStr" value="Data Source=localhost;Initial Catalog=InventoryApp;Persist Security Info=True;Integrated Security=True" />
    <add key="ConnStr2" value="Data Source=localhost;Initial Catalog=InventoryApp;Integrated Security=True" />
    <add key="SmtpServer" value="127.0.0.1" />
    <add key="adminEmail" value="ebsu-admin@dan" />
    <add key="ReportFolder" value="UNNDLP" />
    <add key="ReportServer" value="localhost" />
    <add key="BioDb" value="UNN_BIOMETRICS" />
    <add key="net.etranzact.www.QueryPayoutletTransactionService" value="http://www.etranzact.net:8080/WebService/QueryPayoutletTransaction" />
    <add key="MenuFile" value="~/Administrator/Setups/MenuManager/aspnet_Roles_list.aspx" />
    
  </appSettings>
  <connectionStrings>
    <add name="schmgrConnectionString" connectionString="Data Source=.;Initial Catalog=InventoryApp;Persist Security Info=True;User ID=sa;Password=chinedu" providerName="System.Data.SqlClient" />
    <add name="Project1ConnectionString" connectionString="data source=.;initial catalog=InventoryApp;persist security info=False;User ID=sa;Password=chinedu;packet size=4096" providerName="System.Data.SqlClient" />
    <add name="ConnectionString" connectionString="data source=.;initial catalog=InventoryApp;persist security info=False;User ID=sa;Password=chinedu;packet size=4096" providerName="System.Data.SqlClient" />
    <add name="SchrMgr_NekedeConnectionString" connectionString="Data Source=.;Initial Catalog=InventoryApp;Integrated Security=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <SubSonicService defaultProvider="MyProvider">
    <providers>
      <clear />
      <add name="MyProvider" type="SubSonic.SqlDataProvider, SubSonic" fixPluralClassNames="false" includeProcedureList="" includeTableList="Institution_Courses, Institution_CourseTypes, Institution_Semester, Institution_Level, Institution_ProgrammeType, Institution_Department, Institution_Certificates, Institution_Programme_Courses, Institution_Programme,Institution_Faculty,Institution_Programme_Level_MaxUnits,InstitutionPayments_PaymentLog,Institution_AccesscodeCategory, Institution_PersonalData, Institution_Accesscodes,Institution_Session,Institution_Office, Staff_BaseProfile,Institution_StudentAdmissions,Institution_Session,Institution_SecurityQuestions" connectionStringName="ConnectionString" generatedNamespace="Data" />
    </providers>
  </SubSonicService>
  <location path="welcome_home.aspx">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <system.web>
    <!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="Infragistics2.WebUI.Misc.v7.1, Version=7.1.20071.40, Culture=neutral, PublicKeyToken=7DD5C3163F2CD0CB" />
        <add assembly="Infragistics2.WebUI.Shared.v7.1, Version=7.1.20071.40, Culture=neutral, PublicKeyToken=7DD5C3163F2CD0CB" />
        <add assembly="Infragistics2.WebUI.WebDataInput.v7.1, Version=7.1.20071.40, Culture=neutral, PublicKeyToken=7DD5C3163F2CD0CB" />
        <add assembly="Infragistics2.WebUI.UltraWebGrid.v7.1, Version=7.1.20071.40, Culture=neutral, PublicKeyToken=7DD5C3163F2CD0CB" />
        <add assembly="Infragistics2.WebUI.WebDateChooser.v7.1, Version=7.1.20071.40, Culture=neutral, PublicKeyToken=7DD5C3163F2CD0CB" />
        <add assembly="Infragistics2.WebUI.WebCombo.v7.1, Version=7.1.20071.40, Culture=neutral, PublicKeyToken=7DD5C3163F2CD0CB" />
        <!--<add assembly="Infragistics2.WebUI.WebSchedule.v7.1, Version=7.1.20071.40, Culture=neutral, PublicKeyToken=7DD5C3163F2CD0CB" />-->
        <add assembly="Infragistics2.WebUI.UltraWebTab.v7.1, Version=7.1.20071.40, Culture=neutral, PublicKeyToken=7DD5C3163F2CD0CB" />
        <!--<add assembly="Infragistics2.WebUI.WebSpellChecker.v7.1, Version=7.1.20071.40, Culture=neutral, PublicKeyToken=7DD5C3163F2CD0CB" />-->
        <add assembly="Infragistics2.WebUI.UltraWebNavigator.v7.1, Version=7.1.20071.40, Culture=neutral, PublicKeyToken=7DD5C3163F2CD0CB" />
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Speech, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="Infragistics35.Web.v10.3, Version=10.3.20103.1013, Culture=neutral, PublicKeyToken=7DD5C3163F2CD0CB" />
        <add assembly="Infragistics35.WebUI.Documents.v10.3, Version=10.3.20103.1013, Culture=neutral, PublicKeyToken=7DD5C3163F2CD0CB" />
        <add assembly="Infragistics35.WebUI.Excel.v10.3, Version=10.3.20103.1013, Culture=neutral, PublicKeyToken=7DD5C3163F2CD0CB" />
      </assemblies>
      <buildProviders>
        <add extension=".rdlc" type="Microsoft.Reporting.RdlBuildProvider, Microsoft.ReportViewer.Common, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
      </buildProviders>
    </compilation>
    <!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
    <authentication mode="Forms">
      <forms cookieless="AutoDetect" name="ASPXLF" path="/" timeout="120" protection="All" loginUrl="~/welcome_home.aspx" defaultUrl="~/welcome_home.aspx" />
    </authentication>
    <sessionState cookieless="AutoDetect" mode="InProc" timeout="120" />
    <membership defaultProvider="schmgr">
      <providers>
        <clear />
        <add name="schmgr" type="System.Web.Security.SqlMembershipProvider, System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" connectionStringName="schmgrConnectionString" passwordFormat="Clear" enablePasswordRetrieval="true" enablePasswordReset="true" requiresQuestionAndAnswer="false" applicationName="/schmgr" requiresUniqueEmail="false" maxInvalidPasswordAttempts="2" minRequiredPasswordLength="3" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" passwordStrengthRegularExpression="" />
      </providers>
    </membership>
    <profile defaultProvider="schmgr" enabled="true" automaticSaveEnabled="true">
      <providers>
        <remove name="schmgr" />
        <add name="schmgr" connectionStringName="schmgrConnectionString" applicationName="/schmgr" type="System.Web.Profile.SqlProfileProvider, System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
      </providers>
    </profile>
    <roleManager enabled="true" defaultProvider="schmgr">
      <providers>
        <add connectionStringName="schmgrConnectionString" applicationName="/schmgr" name="schmgr" type="System.Web.Security.SqlRoleProvider, System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
      </providers>
    </roleManager>
    <!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
    <httpHandlers>
      <add path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"
        validate="false" />
      
    </httpHandlers>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID" />
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <defaultDocument>
      <files>
        <clear />
        <add value="login.aspx" />
        <add value="index.html" />
        <add value="index.htm" />
        <add value="index.aspx" />
        <add value="Default.htm" />
        <add value="Default.asp" />
        <add value="iisstart.htm" />
        <add value="default.aspx" />
      </files>
    </defaultDocument>
    <handlers>
      <add name="ReportViewerWebControlHandler" preCondition="integratedMode" verb="*" path="Reserved.ReportViewerWebControl.axd" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
    </handlers>
  </system.webServer>
  <system.net>
    <mailSettings>
      <smtp from="support@tenece.com">
        <network host="webmail.tenece.com" port="2626" userName="support@tenece.com" password="1@password" />
      </smtp>
    </mailSettings>
  </system.net>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="TransactionStatusCheck2Soap" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://80.248.0.87/customerportal/webservice/transactionstatuscheck2.asmx" binding="basicHttpBinding" bindingConfiguration="TransactionStatusCheck2Soap" contract="Stanbic.TransactionStatusCheck2Soap" name="TransactionStatusCheck2Soap" />
    </client>
  </system.serviceModel>
</configuration>